<navbar></navbar>

<section class="mx-auto my-5" style="width: 700px;">
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th class="text-center" scope="col">Código del sensor</th>
        <th class="text-center" scope="col">Nombre del sensor</th>
        <th class="text-center" scope="col"></th>
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let item of sensors">
        <td class="text-center">{{item.sensor_id}}</td>
        <td class="text-center">{{item.sensor_name}}</td>
        <td class="text-center">
          <button class="btn btn-outline-secondary" (click)="getSensorById(item)">
            Ver sensor
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<div *ngIf="sensorSelected" class="d-flex justify-content-center">
  <div *ngIf="sensorSelected.sensor_id == 1" class="animate__animated animate__shakeY">
    <app-sensor-climate *ngIf="viewComponenS1" [sensor]="sensorSelected" (cerrar)="hideComponentS1()"></app-sensor-climate>
  </div>
  <div *ngIf="sensorSelected.sensor_id == 2" class="animate__animated animate__rubberBand">
    <app-sensor-meteorological *ngIf="viewComponenS2" [sensor]="sensorSelected" (cerrar)="hideComponentS2()"></app-sensor-meteorological>
  </div>
  <div *ngIf="sensorSelected.sensor_id == 3" class="animate__animated animate__tada">
    <app-sensor-environmental *ngIf="viewComponenS3" [sensor]="sensorSelected" (cerrar)="hideComponentS3()"></app-sensor-environmental>
  </div>
</div>