<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-sm-center h-100">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
        <div class="text-center my-5">
          <img src="../../../../assets/images/logos/rocket-launch-purple.png" alt="logo" width="100">
        </div>
        <div class="card shadow-lg">
          <div class="card-body p-5">
            <h1 class="fs-4 card-title fw-bold mb-4">Login</h1>

            <form class="needs-validation" autocomplete="off" [formGroup]="formLogin" (ngSubmit)="login()">
              <div class="mb-3">
                <label class="mb-2 text-muted" for="email">Usuario</label>
                <input id="email" type="email" class="form-control" name="email" formControlName="user" value="" required autofocus>
              </div>

              <div class="mb-3">
                <div class="mb-2 w-100">
                  <label class="text-muted" for="password">Contraseña</label>
                </div>
                <input id="password" type="password" class="form-control" name="password" formControlName="password" required>
                  <div class="invalid-feedback">
                    La contraseña es requerida
                  </div>
              </div>

              <div class="d-flex align-items-center">
                <button type="submit" class="btn ms-auto" style="color: #943c8b;">
                  Iniciar sesión
                </button>
              </div>
              <div *ngIf="showAlert" class="alert alert-danger animate__animated animate__jello" role="alert">
                <p class="text-center">Datos incorrectos</p>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
